/* some example style */

:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --default-font-size: large;
  --font-mono: "Fira Mono", monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #0063a6;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --selected-color: deepskyblue;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-size: var(--default-font-size);
}

body {
  margin: 0px;
  background-color: #fafafa;
}

button {
  font-size: x-large;
  color: black;
  background-color: var(--pure-white);
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  transition-duration: 0.1s;
  box-shadow: 2px 2px 8px #0000003b;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  border-color: lightgray;
  color: lightgray;
  box-shadow: 0px 0px 0px;
}

button:hover {
  background-color: #f0f0f0;
  border-color: var(--selected-color);
}

button:hover:disabled {
  background-color: var(--pure-white);
  border-color: lightgray;
}

/* classes */

.submit-button-tile {
  display: flex;
  width: calc(33.33333% - 20px);
}
.bottom-tile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.imgmat-container {
  display: flex;
  flex-direction: column;
  /* padding: 0.75rem; */
  width: 100%;
}

.info-button {
  max-width: 100%;
}

.info-button-tile {
  width: 80px;
  padding-left: 10px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.overlay-instructions {
  color: white;
}

.imgmat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  max-width: 100%;
}

.imgmat-tile {
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border-color: #ffffff;
  border-width: thin;
  border-style: solid;
  background-color: #ffffff;
  transition-duration: 0.1s;
  cursor: default;
  box-shadow: 2px 2px 8px #0000003b;
  margin: 10px;
}

.imgmat-tile-selected {
  border-color: var(--selected-color);
  background-color: #d0d0d0;
  cursor: pointer;
}

.imgmat-tile-selectable {
  cursor: pointer;
}

.imgmat-tile-selectable:hover {
  border-color: var(--selected-color);
}

.imgmat-tile-query {
  border-color: var(--selected-color);
  background-color: #d0d0d0;
  border-width: medium;
  cursor: default;
}

.imgmat-tile-spinner {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.imgmat-tile-inner {
  display: block;
  min-height: 120px;
}

.imgmat-tile-inner-inner {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.imgmat-img {
  display: block;
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}

.imgmat-img-overlay {
  display: block;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    var(--selected-color),
    rgba(255, 0, 0, 0)
  );
  z-index: 4;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: x-large;
  text-align: center;
  color: white;
}

.prompt {
  font-size: x-large;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  width: calc(100% - 20px);
}

.prompt-txt-1 {
  color: black;
}

.prompt-txt-2 {
  color: var(--selected-color);
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
  font-size: large;
  width: calc(100% - 20px);
}

.progress-bar-bg {
  width: 100%;
  background: lightgray;
  height: 10px;
}

.progress-bar-fg {
  background: var(--selected-color);
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.goodbye {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}

.goodbye-msg-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.goodbye-button {
  font-size: x-large;
  color: black;
  background-color: var(--pure-white);
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 280px;
}

.welcome {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
}

.login-input {
  font-size: x-large;
  color: black;
  background-color: var(--pure-white);
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
  width: calc(100% - 20px);
}

/* .instructions-txt-1 {
  color: black;
} */

.instructions-txt-2 {
  color: var(--selected-color);
}

.proceed-button {
  font-size: x-large;
  color: black;
  background-color: var(--pure-white);
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 200px;
}

.proceed-button-info {
  color: var(--pure-white);
  background: rgba(0, 0, 0, 0);
  border-color: var(--pure-white);
}

.proceed-button-info:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: var(--selected-color);
}

@media (min-width: 576px) {
  .imgmat-tile-inner {
    height: 120px;
  }
  .imgmat-img {
    max-height: 120px;
  }

  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .imgmat-tile-inner {
    height: 140px;
  }
  .imgmat-img {
    max-height: 140px;
  }
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .imgmat-tile-inner {
    height: 160px;
  }
  .imgmat-img {
    max-height: 160px;
  }
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .imgmat-tile-inner {
    height: 160px;
  }
  .imgmat-img {
    max-height: 160px;
  }
  .container {
    max-width: 1140px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* For illustration on instructions page */

.imgmat-container-mini {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.imgmat-row-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  max-width: 100%;
}

.imgmat-tile-mini {
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  padding: 2.5px;
  border-radius: 10px;
  border-color: #ffffff;
  border-width: thin;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px #0000003b;
  margin: 5px;
}

.imgmat-tile-selected-mini {
  border-color: var(--selected-color);
  background-color: #d0d0d0;
}

.imgmat-tile-query-mini {
  border-color: var(--selected-color);
  background-color: #d0d0d0;
  border-width: thick;
}

.imgmat-tile-inner-mini {
  display: block;
  min-height: 80px;
}

.imgmat-tile-inner-inner-mini {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.imgmat-img-mini {
  display: block;
  position: absolute;
  max-width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}

.imgmat-img-overlay-mini {
  display: block;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    var(--selected-color),
    rgba(255, 0, 0, 0)
  );
  z-index: 4;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: medium;
  text-align: center;
  color: white;
}
