/* some example style */

:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --default-font-size: large;
  --font-mono: "Fira Mono", monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #0063a6;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-size: var(--default-font-size);
}

button {
  transition-duration: 0.1s;
  border-radius: 10px;
  font-size: var(--default-font-size);
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--pure-white);
  border-width: 1px;
  border-style: solid;
  padding: 0.75rem;
}

button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

button:active {
  /* box-shadow: 0px 0px 0px; */
  /* transform: translate(1px, 1px); */
  background-color: #eaeaea;
}

/* classes */

.imgmat-container {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  max-width: 100%;
}

.imgmat-row {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.imgmat-img-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-style: solid;
  border-radius: 5px;
  /* border-color: #00ccff; */
  border-color: steelblue;
  border-width: thin;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 8px #0000003b;
  padding: 5px;
  /* background-color: #292929; */
  border-radius: 10px;
  transition-duration: 0.1s;
}

.imgmat-img-cont:hover {
  /* border-color: #ffd119; */
  border-color: salmon;
}

.imgmat-query-cont {
  /* border-color: #ffd119; */
  border-color: salmon;
  border-width: medium;
}

@media (min-width: 576px) {
  .imgmat-img-cont {
    max-height: 120px;
  }
}

@media (min-width: 768px) {
  .imgmat-img-cont {
    max-height: 140px;
  }
}

@media (min-width: 992px) {
  .imgmat-img-cont {
    max-height: 160px;
  }
}

@media (min-width: 1200px) {
  .imgmat-img-cont {
    max-height: 160px;
  }
}

.imgmat-img {
  max-height: 100%;
  max-width: 100%;
}

.progress-bar {
  padding: 0.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 4px #444444ab;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
