/* some example style */

:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --default-font-size: large;
  --font-mono: "Fira Mono", monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #0063a6;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --selected-color: deepskyblue;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-size: var(--default-font-size);
}

body {
  margin: 0px;
  background-color: #fafafa;
}

button {
  transition-duration: 0.1s;
  border-radius: 10px;
  font-size: var(--default-font-size);
  color: black;
  background-color: var(--pure-white);
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 0.75rem 2.25rem 0.75rem 2.25rem;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  border-color: gray;
  color: gray;
}

button:hover {
  background-color: #f0f0f0;
  border-color: var(--selected-color);
}

button:hover:disabled {
  background-color: var(--pure-white);
  border-color: gray;
}

/* classes */

.imgmat-container {
  display: flex;
  flex-direction: column;
  /* padding: 0.75rem; */
  width: 100%;
}

.imgmat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  max-width: 100%;
}

.imgmat-tile {
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  min-height: 120px;
  padding: 5px;
  border-radius: 10px;
  border-color: #ffffff;
  border-width: thin;
  border-style: solid;
  background-color: #ffffff;
  transition-duration: 0.1s;
  cursor: default;
  box-shadow: 2px 2px 8px #0000003b;
  margin: 10px;
}

@media (min-width: 576px) {
  .imgmat-tile .imgmat-tile-inner-inner {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .imgmat-tile .imgmat-tile-inner-inner {
    height: 140px;
  }
}

@media (min-width: 992px) {
  .imgmat-tile .imgmat-tile-inner-inner {
    height: 160px;
  }
}

@media (min-width: 1200px) {
  .imgmat-tile .imgmat-tile-inner-inner {
    height: 160px;
  }
}

.imgmat-tile-selected {
  border-color: var(--selected-color);
  background-color: #d0d0d0;
  cursor: pointer;
}

.imgmat-tile-selectable {
  cursor: pointer;
}

.imgmat-tile-selectable:hover {
  border-color: var(--selected-color);
}

.imgmat-tile-query {
  border-color: var(--selected-color);
  background-color: #d0d0d0;
  border-width: medium;
  cursor: default;
}

.imgmat-tile-spinner {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.imgmat-tile-inner {
  display: block;
}

.imgmat-tile-inner-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.imgmat-img {
  display: block;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}

.imgmat-img-overlay {
  display: block;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    /* black, */ var(--selected-color),
    rgba(255, 0, 0, 0)
  );
  /* opacity: 0.6; */
  z-index: 5;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: x-large;
  text-align: center;
  color: white;
}

.instructions {
  font-size: x-large;
  text-align: center;
}

.instructions-txt {
  color: var(--selected-color);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #383636;
  /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
